
.text1{
    border: 8px solid red;
    background-color: black;
    height: 150px;
    width: 400px;
    margin: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    border-radius: 20px;
    border-radius: 20px;
    color: white;
    font-size: 36px;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.text2{
    border: 8px solid red;
    background-color: black;
    height: 80px;
    width: 400px;
    border-radius: 35px;
    color: white;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: 50px;
    left: 290px;
    padding-top: 30px;
    text-align: center;
}
.text3{
    border: 8px solid red;
    color: white;
    background-color: black;
    height: 180px;
    width: 400px;
    border-radius: 30px;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    top: 50px;
    left: 290px;
    margin-left: 620px;
    position: absolute;
    top: 30px;
    text-align: center;
}
.text4{
    border: 8px dashed red;
    height: 650px;
    width: 400px;
    text-align: center;
    position: absolute;
    left: 500px;
    top: 300px;
    color: red;
}
.text5{
    border: 3px solid gray;
    height: 270px;
    width: 270px;
    border-radius: 50%;
    text-align: center;
    padding: 20px;
    background-color: rgb(17, 104, 75);
    position: absolute;
    left: 60px;
    top: 500px;
}
.text6{
    border: 8px solid red;
    background-color: black;
    height: 80px;
    width: 400px;
    border-radius: 35px;
    color: white;
    text-align: center;
    position: absolute;
    top: 1000px;
    left: 35%;
}
.text7{
    border: 3px solid green;
    height: 300px;
    width: 370px;
    position: absolute;
    top: 1150px;
    left: 40px;
    text-align: center;
    background-color: rgb(11, 255, 235);
    border-radius: 30px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(28, 78, 87);
}
.text8{
    border: 3px solid green;
    height: 300px;
    width: 370px;
    position: absolute;
    top: 1150px;
    left: 489px;
    text-align: center;
    background-color: rgb(11, 255, 235);
    border-radius: 30px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(28, 78, 87);
}
.text9{
    border: 3px solid green;
    height: 300px;
    width: 370px;
    position: absolute;
    top: 1150px;
    right: 40px;
    text-align: center;
    background-color: rgb(11, 255, 235);
    border-radius: 30px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(28, 78, 87);
}
.text10{
    border: 3px solid green;
    height: 300px;
    width: 370px;
    position: absolute;
    top: 1480px;
    left: 40px;
    text-align: center;
    background-color: rgb(11, 255, 235);
    border-radius: 30px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(28, 78, 87);
}
.text11{
    border: 3px solid green;
    height: 300px;
    width: 370px;
    position: absolute;
    top: 1480px;
    left: 489px;
    text-align: center;
    background-color: rgb(11, 255, 235);
    border-radius: 30px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(28, 78, 87);
}
.text12{
    border: 3px solid green;
    height: 300px;
    width: 370px;
    position: absolute;
    top: 1480px;
    right: 40px;
    text-align: center;
    background-color: rgb(11, 255, 235);
    border-radius: 30px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(28, 78, 87);
}